<% sentences = [ 	"Arrgh! I'm back to day 0.",
					"So close! Day 0. Let's do this.",
					"Day 0. Perseverance is a virtue.",
					"Day 0. When you're failing it means you're challenging yourself.",
					"Day 1 tomorrow!",
					"#backtodayzero"
 					]  %>


<% if activity.trackable %>
  <li class="activity reset-days">
		<div class="row">
			<div class="profile-pic-container">
				<%= image_tag activity.owner.gravatar_url, class: "img-circle center-block img-responsive" %>
			</div>
			<div class="content">
				<%= link_to activity.owner.name, user_path(activity.owner) if activity.owner %>
				<%= sentences[activity.sentence_index.to_i] %>
				Updated <%= time_ago_in_words(activity.created_at) %> ago.
			</div>
		</div>
	</li>
<% else %>
  [Deleted]
<% end %>

