<%= form_for(current_user.likes.build(:activity_id => activity.id), :remote => true) do |f| %>
 <div><%= f.hidden_field :activity_id %></div>
 <div class="actions"><%= f.submit "Like" %></div>
<% end %>