<section id="everyone">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Everyone</h1>
			<% @users.each do |user| %>
				<div class="person">
					<%= link_to (image_tag user.gravatar_url, class: "img-circle"), user_path(user) %>
					<%= link_to user.name, user_path(user), class: "name" %>
				</div>
			<% end %>
		</div>
	</div>
</section>