<section id="intro">
    <div class="col-sm-6 left">
        <div class="content">
            <%= image_tag "logo.png", class: "logo" %>
            <h1>Be Better.</h1>
            <div class="session-buttons">
                <%= link_to "Sign Up", new_user_registration_path, class: "button button-primary" %>
                <%= link_to "Or Log in", new_user_session_path, class: "white" %>
            </div>
        </div> <!-- end content -->
        <div class="homepage-nav">
            <%= link_to raw("Created by Junto Studio") + image_tag("jslogo.png", class: "jslogo"), "http://www.juntostudio.com", class: "created-by-js" %>
        </div>
    </div> <!-- end left -->
    <div class="col-sm-6 right">
            <div class="content">

                <p>
                    Several months ago we started a 21-day challenge to see how well we could keep our word. We decided to become people whose word means something and who you can trust to do what they said they were going to do.
                </p>
                <p>
                    <strong>The challenge:</strong> Pick something you want to get better at and do it for 21 days straight. No excuses. If you miss a day, you're back to day 0.
                </p>
                <p>
                    <strong>The results:</strong> Productivity at our company increased 30-40% because not only were we aware of sticking to our challenge but we also started noticing what we were commiting to in other areas of our lives and whether or not we were keeipng our promises.
                </p>
                <p>
                     Also, @alejo developed the habit of waking up before 6am, @max became an avid reader, @isabel stopped eating sugar, and @nacho finished a complex autobiography that had been on his reading list for a while.
                </p>
                <h2>
                    Join the 21-day revolution. <span class=""></span>#keepyourword.
                </h2>
            </div> <!-- end content --> 
    </div> <!-- end right -->
</section><!--  end intro -->