<section id="intro">
        <div class="col-sm-6 left">
            <div class="content">
                <h1>21</h1>
                <h1>Be Better.</h1>
                <div class="session-buttons">
                    <%= link_to "Sign Up", new_user_registration_path, class: "button button-primary" %>
                    <%= link_to "Or Log in", new_user_session_path, class: "white" %>
                </div>
            </div> <!-- end content -->
        </div> <!-- end left -->
        <div class="col-sm-6 right">
            <div class="content">
                <p>
                    lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content that could be distracting with placeholder text may allow viewers to focus on graphic aspects such as font, typography, and page layout.

                    The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed such that it is nonsensical, improper Latin.

                    A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. It was introduced to the Information Age in the mid-1980s by Aldus Corporation, which employed it in graphics and word processing templates for its desktop publishing program, PageMaker, for the Apple Macintosh
                </p>
            </div> <!-- end content --> 
        </div> <!-- end right -->
</section><!--  end intro -->