<div class="panel panel-default">
  <div class="panel-heading">
	<h4>Editing challenge</h4>
  </div>

<%= render 'form' %>
	
	<div class="centered link-end-form">
		<p>Or, if you want to forfeit this challenge and <%= link_to "start a new one", new_challenge_path %>.</p>
	</div>
</div>
