<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">

        body {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            color: black;
        }

        .button, .button:visited, .button:active { 
            color: white !important;
            background-color: #00c3d9;
            padding: 10px 15px;
            border-radius: 50px;
            margin: 10px 0;
            display: inline-block;
            text-decoration: none;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
        }

        .button:hover {
           opacity: 0.8; 
           color: white !important;
        }


        p, a {
            color: black;
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
        }

        a {
            text-decoration: none;
        }

        h3 {
            font-size: 19px;
            font-weight: 600;
        }

    </style>
  </head>
  <body>

        <p>Aww man! It looks like you didn’t complete your challenge yesterday! Did you forget to mark-it off or did the power of complacency get to you? In any case, don’t stress too much about it.  It happens to the best of us.</p>

        <p>This is actually an amazing opportunity to learn something about yourself. Here are a few questions to help you out.</p>

        <ul>
            <li>What was different about today?</li>
            <li>What is that voice inside your head saying, is it giving you some excuse that sounds very plausible? If it is, that’s probably fear coming out, trying to keep us from achieving our potential. Listen to what it’s saying, it’s important to understand what’s stopping you.</li>
            <li>How did you feel throughout the day? Is it harder to keep your word when you feel like you're tired, sick, under pressure, or something else? Take time to explore this. </li>
            <li>Did you have trouble with planning? Sometimes this can be the biggest barrier. What problems do you see with how you planned to achieve your goal today? What can you do to change it??</li>
        </ul>

        <p>Finally, we know it sucks to miss a day, especially when you had a great streak going, so here is some  <%= link_to "happy music or a funny video", "https://www.youtube.com/watch?v=UowkIRSDHfs" %> to cheer you up and make sure you don’t miss a beat :wink:</p>


        <p>Go ahead and complete your challenge today.</p>
        <%= link_to "Go to the website", "http://day21.herokuapp.com/", class: "button" %>
        
        <p>The 21 team</p>
  </body>
</html>