<p style="margin-top: 18px;">You have already logged your status for today.</p><p> Give some encouragement to someone who might be struggling with their challenge. Have a wonderful day!</p>

<!-- <p style="margin-top: 18px;">You have already logged your status for today.</p> <%= link_to "Changed your mind?", reset_entered_path, method: :put, class: "changed-your-mind" %> -->