<% if activity.likes.count > 0 %>
		<ul class="likes">
			<% activity.likes.each do |like| %>
				<li class="like" data-toggle="tooltip" title='<%= like.user.name %>'><%= image_tag like.user.profile_pic, class: "img-circle" %></li>
			<% end %>
			<% if activity.likes.count == 1 %>
				likes this.
			<% else %>
				like this.
			<% end %>
		</ul>
<% end %>